{% render 'partials/head.liquid', title: 'Squad Channel' %}

{% comment %} Main content {% endcomment %}
<main>
  <div class="title-overlay">
    <img src="img/SquadChannel.png" alt="Squad Channel Title Logo">
  </div>

  {% comment %} Zijbalk aan de linker kant van het scherm {% endcomment %}
  <section class="onscreen-content-left">
    <article class="onscreen-items-left">
      <div class="music-button">
        <img id="vinyl" src="img/vinyl.png" alt="Vinyl" width="90">
        <div class="music-img-container">
          <img id="muziek-img" src="img/Wii.svg" alt="Wii Muziek" width="40" height="40">
        </div>
      </div>
      <div class="whistle-container">
        <img id="whistle" src="img/whistle.png" alt="Sorteren">
        <span id="sort-status">id</span>
      </div>
      </div>
    </article>
  </section>

  {% comment %} Personen die op de website staan {% endcomment %}
  <section class="personen">
    {% for person in persons %}
      <article class="person-all" data-name="{{ person.name | lowercase }}" data-id="{{ person.id }}" data-birthdate="{{ person.birthdate }}" data-squad="{% for squad in person.squads %}{% if squad.squad_id.name == '1I' or squad.squad_id.name == '1J' %}{{ squad.squad_id.name }}{% endif %}{% endfor %}">
        <div class="person-overlay">
          {% if person.name == 'Gijs Nagtegaal' %}
            <h2>{{ person.name }}</h2>
            <p>Kut gijs, verander je bio</p>
            <p>Team {{ person.team }}</p>
            <p>Squad 
              {% for squad in person.squads %}
                {% if squad.squad_id.name == '1I' or squad.squad_id.name == '1J' %}
                  {{ squad.squad_id.name }}
                {% endif %}
              {% endfor %}
            </p>
            <p>Woonplaats: {{ person.residency }}</p>
            <p>Geboortedatum: {{ person.birthdate }}</p>
            <p>
              Favoriete kleur:
              <span class="color-display" style="background-color: {{ person.fav_color }};"></span>
            </p>
          {% else %}
            <h2>{{ person.name }}</h2>
            <p>{{ person.bio }}</p>
            <p>Team {{ person.team }}</p>
            <p>Squad 
              {% for squad in person.squads %}
                {% if squad.squad_id.name == '1I' or squad.squad_id.name == '1J' %}
                  {{ squad.squad_id.name }}
                {% endif %}
              {% endfor %}
            </p>
            <p>Woonplaats: {{ person.residency }}</p>
            <p>Geboortedatum: {{ person.birthdate }}</p>
            <p>
              Favoriete kleur:
              <span class="color-display" style="background-color: {{ person.fav_color }};"></span>
            </p>
          {% endif %}
        </div>

        {% if person.name == 'Yassir Bouyi' %}
          <a class="person-circle" style="outline: {{ person.fav_color }} .2rem solid; box-shadow: 0px 0px 15px 0px {{ person.fav_color }}; background-color: #323232;"></a>
        {% else %}
          <a class="person-circle" style="outline: {{ person.fav_color }} .2rem solid; box-shadow: 0px 0px 15px 0px {{ person.fav_color }};">
            <img src="{% if person.mugshot %}https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500{% else %}{{ person.avatar }}{% endif %}" alt="Profiel foto van {{ person.name }}">
          </a>
        {% endif %}
      </article>
    {% endfor %}
  </section>
</main>

{% render 'partials/foot.liquid', squads: squads %}
