{% render 'partials/head.liquid', title: 'Squad Channel' %}

<main>
  <div class="title-overlay">
    <img src="img/SquadChannel.png">
  </div>

  <section class="onscreen-content-left">
    <article class="onscreen-items-left">
      <div class="wii-u-music-button"><img src="img/wii-u.svg" width="60vw"></div>
    </article>
  </section>

  <section class="personen">
    {% for person in persons %}
      <article class="person-all">
        <div class="person-overlay">
          {% if person.name == 'Gijs Nagtegaal' %}
            <h2>{{ person.name }}</h2>
            <p>Kut gijs, verander je bio</p>
            <p>Team {{ person.team }}</p>
            <p>Woonplaats: {{ person.residency }}</p>
            <p>Favoriete kleur: {{ person.fav_color }}</p>
          {% else %}
            <h2>{{ person.name }}</h2>
            <p>{{ person.bio }}</p>
            <p>Team {{ person.team }}</p>
            <p>Woonplaats: {{ person.residency }}</p>
            <p>Favoriete kleur: {{ person.fav_color }}</p>
          {% endif %}
        </div>
        <a
          class="person-circle"
          style="outline: {{ person.fav_color }} .3vw solid;"
          {% comment %} href="/student/{{ person.id }}"
          target="_blank" {% endcomment %}
        >
          <img
            src="{% if person.mugshot %}https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500{% else %}{{ person.avatar }}{% endif %}"
            alt="Profile picture van {{ person.name }}"
          >
        </a>
      </article>
    {% endfor %}
  </section>
</main>

{% render 'partials/foot.liquid', squads: squads %}
